@model MinIOWebClient.Models.ShareModel

<h5 class="mb-3">@Model.ObjectName</h5>
<label for="" class="form-label">Share URL:</label>
<textarea type="text" disabled="disabled" class="form-control" rows="5" asp-for="ShareUrl"></textarea>
