@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="" class="form-label">Choose file for upload</label>
                <input type="file" class="form-control" asp-for="Upload"/>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Send to minio</button>
            </div>
        </form>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Items in minio storage
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.StorageItems)
                {
                    <li class="list-group-item">@item.Key</li>
                }
            </ul>
        </div>
    </div>
</div>
